@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row d-flex justify-content-center align-items-center">
            <h3>Village Rentals</h3>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
