@page "/createrental"

<h3>Create Rental</h3>

@code {
        /*
        * Create Rental
        * This will process one of the items to a client.
        *
        * Each rental document has this information:
        * - Rental ID
        * - Current Date
        * - Customer ID
        * - Customer Last Name
        *  For each item:
        *  - Equipment ID
        *  - Rental date
        *  - Return date
        *  - Cost of rental
        * 
        */

}
