@page "/"

<div class="Home">
    <div class="Title">
        <h4>Welcome to Village Rentals!</h4>
        <br />
    </div>

    <div class="Paragraph">
        <p>
            <b>Village Rentals allows you to manage the equipment, clients, and rentals!</b>
            <br>
            <br>
            <strong>Manage Equipment</strong> - Add, update, or delete equipment from the inventory.
            <br>
            <strong>Manage Clients</strong> - Add, update, or ban clients from the system.
            <br>
            <strong>Create Rental</strong> - Create a rental document for a client.
            <br>
        </p>
    </div>
</div>