@page "/managecustomer"

<h3>Manage Customers</h3>

@code {
        /*
        * Each client has the following properties:
        * 
        * - Customer ID
        * - Last Name
        * - First Name
        * - Contact Phone
        * - Email
        * 
        */

        // add client method that connects to a samples.xlsx file.

        // ban client method here that connects to a samples.xlsx file.

        // update client method here that connects to a samples.xlsx file.

        // display client method here that connects to a samples.xlsx file.
}
