@page "/manageequipment"

<h3>Manage Equipment</h3>

<body>
    <div>
    </div>
</body>

@code {
    /*
     *  Each equipment has the following properties:
     * - Equipment ID
     * - Equipment Name
     * - Category
     * - Description
     * - Daily Rental Cost
     */

    // add equipment method that connects to a samples.xlsx file.

    // delete equipment method here that connects to a samples.xlsx file.

    // update equipment method here that connects to a samples.xlsx file.

    // display equipment method here that connects to a samples.xlsx file.
}

